@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-n-2 text-n-1 ;
  }
}

@layer base {
  body {
    overflow-y: scroll;
}
  body::-webkit-scrollbar {
    display: none;
}

}


.hover-shadow {
  transition: box-shadow 0.5s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0px 0px 185px 0 rgba(221,190,99,0.4);
}